[Service]
ExecStart=/usr/bin/node /home/john/domains/djohnanderson.com/node-server/server.js
Restart=always
StandardOutput=syslog
StandardError=syslog
WorkingDirectory=/home/john/domains/djohnanderson.com/node-server/
SyslogIdentifier=node-wyngate
User=john
Group=access
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
